* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Nunito", sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
.container {
    width: 100%;
    max-width: 1360px;
    padding: 0 80px;
    margin: 0 auto;
}
.p-t {
    padding-top: 20px;
}
.p-b {
    padding-bottom: 20px;
}
.d-flex {
    display: flex;
}

@import "./parciales/header";
@import "./parciales/main";
@import "./parciales/section";
@import "./parciales/movie";
@import "./parciales/media-queries";