@media screen and (max-width: 1400px){
    .container {
        padding: 0 40px;
    }
}

@media (max-width: 1040px){
    .container{
        padding: 0 20px;
    }
}
@media (max-width: 770px){
    .movie__content-poster-img {
        padding-right: 30px;
    }
}

@media (max-width: 625px){
    .movie__content-poster {
        background-position: center;
        .bg .container {
            flex-direction: column;
        }
        &-img {
            text-align: center;
            padding-right: 0;
            &-card {
                width: 220px;
                height: auto;
                margin: 0 auto;
            }
        }
        &-desc {
            padding-top: 30px;
        }
    }
}

@media (max-width: 350px) {
    .section__options {
        &-btn {
            display: flex;
            flex-direction: column;

            button {
                margin-right: 0;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}