.section {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 50px;

    &__slider {
    
        &-content {
            margin: 0 auto;
            transition: 0.4s ease;
            cursor: pointer;
            &:hover {
                transform: scale(1.02);
            }

            &-img {
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 20px;
                }
            }

            p {
                padding-top: 10px;
            }
        }
    }
}

.slick-slide {
    padding: 0 5px;
}

// /* the parent */
// .slick-list {
//     margin: 0 -27px;
// }

.slick-prev:before, .slick-next:before {
    color: #000 !important;
}