.section__options {
    display: flex;
    align-items: center;
    padding-bottom: 25px;

    h1 {
        margin-right: 20px;
    }
}
.options-btn {
    padding-bottom: 40px;
    text-align: center;
    
    button {
        margin-right: 10px;
        border: 1px solid #000;
        background: none;
        cursor: pointer;
        font-size: 18px;
        padding: 5px;
        width: 70px;
        transition: 0.4s ease;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            box-shadow: inset 0 -3px 1px #000;
            text-shadow: 0 0 1px #000;
        }
    }   
}
.section {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 50px;

    &__slider {
    
        &-content {
            text-align: center;
            margin: 0 auto;
            transition: 0.4s ease;
            cursor: pointer;
            &:hover {
                transform: scale(1.02);
            }

            &-img {
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 20px;
                }
            }

            p {
                padding-top: 10px;
            }
        }
    }
}

.blur {
    position: relative;
    transition: 0.4s ease;
}

.slick-slide {
    padding: 0 5px;
}

// /* the parent */
// .slick-list {
//     margin: 0 -27px;
// }

.slick-prev:before, .slick-next:before {
    color: #000 !important;
}